/* @import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap'); */

body{
    background-color: brown;
    font-family: 'Rajdhani', sans-serif;
}

header {
    color: brown;
    font-size: 44px;
}

main {
    background-color: #f5e3e0;
    /* Red Green Blue Alpha*/
    width: 960px;
    margin: 50px auto 50px auto;
    padding: 50px;
    border-radius: 30px;
}

.destaque {
    width: 100%;
    max-width: 800px;
    margin: 0 auto 0 auto;
    display: block;
    position: relative;
}

footer img {
    width: 40px;
    margin: 0 10px;
}

footer {
    width: 960px;
    text-align:center;
    margin: 0 auto 50px auto;
}





