<html>

<head></head>

<body>
    <h1>DH News</h1>
    <h3>Postado em 21/07/2022</h3>
    <p>
        Lorem ipsum dolor sit amet <strong>consectetur</strong>, adipisicing elit. Illum iusto, voluptates possimus fuga
        corrupti vero error totam quam ipsam cumque magni excepturi, ea itaque nisi enim necessitatibus delectus,
        expedita accusamus.
    </p>
    <img src="../public/img/destaque.webp" alt="Pessoas sentadas a mesa num saguão">
    <h2>Lorem ipsum dolor sit amet</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta consequatur quod voluptatibus veniam officiis
        ipsam natus quisquam, eaque incidunt unde dolor, veritatis placeat ratione nostrum amet facere enim debitis
        quibusdam.</p>
    <ol>
        <li>Texto 1</li>
        <li>Texto 2</li>
        <li>Texto 3</li>
    </ol>

    <footer>
        <a href="http://www.facebook.com/digitalhouse">
            <img src="../public/img/facebook.svg" alt="ícone do facebook">
        </a>
        <a href="">
            <img src="../public/img/instagram.svg" alt="ícone do instagram">
        </a>
        <a href=""></a>
        <a href=""></a>
    </footer>

</body>

</html>